<% let allImages=product.images.split(','); %>
    <div class="container">
        <div class="container-fluid mt-2 mb-3">
            <div class="row no-gutters">
                <div class="col-md-5 pr-2">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <!-- <div class="carousel-item active" data-bs-interval="10000"> -->
                            <% for(let i = 0; i < allImages.length; i++){ %>
                            <div  class="carousel-item <%= (i==0) ? 'active' : ''; %>" data-bs-interval="1000">
                                <img src="/image/product/<%= allImages[i]; %>"
                                    class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="d-flex flex-row align-items-center">
                            <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span
                                class="ml-1">5.0</span>
                        </div>
                        <div class="about"> <span class="font-weight-bold">
                                <%= product.title; %>
                            </span>
                            <h4 class="font-weight-bold">$<%= product.price; %>
                            </h4>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-outline-warning btn-long cart">Add to
                                Cart</a>
                            <button class="btn btn-warning btn-long buy">Buy it Now</button>
                            <button class="btn btn-light wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                        <hr>
                        <div class="product-description">

                            <div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i>
                                <span class="ml-1">Delivery from sweden, 15-45 days</span> </div>
                            <div class="mt-2"> <span class="font-weight-bold">Description</span>
                                <p>
                                    <%= product.description; %>
                                </p>
                            </div>
                            <div class="mt-2"> <span class="font-weight-bold">Store</span> </div>
                        </div>
                    </div>
                    <div class="card mt-2"> <span>Similar items:</span>
                        <div class="similar-products mt-2 d-flex flex-row">
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                    src="https://i.imgur.com/KZpuufK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">$1,999</h6>
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                    src="https://i.imgur.com/GwiUmQA.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">$1,699</h6>
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                    src="https://i.imgur.com/c9uUysL.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">$2,999</h6>
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                    src="https://i.imgur.com/kYWqL7k.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">$3,999</h6>
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;"> <img
                                    src="https://i.imgur.com/DhKkTrG.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">$999</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

        body {
            background-color: #eee;
            font-family: "Poppins", sans-serif
        }

        .card {
            background-color: #fff;
            padding: 14px;
            border: none
        }

        #lightSlider li {}

        .demo {
            width: 100%
        }

        ul {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom: 0
        }

        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor: pointer
        }

        img {
            display: block;
            height: auto;
            width: 100%
        }

        .stars i {
            color: #f6d151
        }

        .stars span {
            font-size: 13px
        }

        hr {
            color: #d4d4d4
        }

        .badge {
            padding: 5px !important;
            padding-bottom: 6px !important
        }

        .badge i {
            font-size: 10px
        }

        .profile-image {
            width: 35px
        }

        .comment-ratings i {
            font-size: 13px
        }

        .username {
            font-size: 12px
        }

        .comment-profile {
            line-height: 17px
        }

        .date span {
            font-size: 12px
        }

        .p-ratings i {
            color: #f6d151;
            font-size: 12px
        }

        .btn-long {
            padding-left: 35px;
            padding-right: 35px
        }

        .buttons {
            margin-top: 15px
        }

        .buttons .btn {
            height: 46px
        }

        .buttons .cart {
            border-color: #ff7676;
            color: #ff7676
        }

        .buttons .cart:hover {
            background-color: #e86464 !important;
            color: #fff
        }

        .buttons .buy {
            color: #fff;
            background-color: #ff7676;
            border-color: #ff7676
        }

        .buttons .buy:focus,
        .buy:active {
            color: #fff;
            background-color: #ff7676;
            border-color: #ff7676;
            box-shadow: none
        }

        .buttons .buy:hover {
            color: #fff;
            background-color: #e86464;
            border-color: #e86464
        }

        .buttons .wishlist {
            background-color: #fff;
            border-color: #ff7676
        }

        .buttons .wishlist:hover {
            background-color: #e86464;
            border-color: #e86464;
            color: #fff
        }

        .buttons .wishlist:hover i {
            color: #fff
        }

        .buttons .wishlist i {
            color: #ff7676
        }

        .comment-ratings i {
            color: #f6d151
        }

        .followers {
            font-size: 9px;
            color: #d6d4d4
        }

        .store-image {
            width: 42px
        }

        .dot {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px
        }

        .bullet-text {
            font-size: 12px
        }

        .my-color {
            margin-top: 10px;
            margin-bottom: 10px
        }

        label.radio {
            cursor: pointer
        }

        label.radio input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            pointer-events: none
        }

        label.radio span {
            border: 2px solid #8f37aa;
            display: inline-block;
            color: #8f37aa;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-transform: uppercase;
            transition: 0.5s all
        }

        label.radio .red {
            background-color: red;
            border-color: red
        }

        label.radio .blue {
            background-color: blue;
            border-color: blue
        }

        label.radio .green {
            background-color: green;
            border-color: green
        }

        label.radio .orange {
            background-color: orange;
            border-color: orange
        }

        label.radio input:checked+span {
            color: #fff;
            position: relative
        }

        label.radio input:checked+span::before {
            opacity: 1;
            content: '\2713';
            position: absolute;
            font-size: 13px;
            font-weight: bold;
            left: 4px
        }

        .card-body {
            padding: 0.3rem 0.3rem 0.2rem
        }
    </style>